// .vuepress/styles/fonts.styl

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/oxygen/Oxygen-Regular.ttf");
}

@font-face {
  font-family: 'Oxygen';
  font-weight: 300;
  src: url("/assets/fonts/oxygen/Oxygen-Light.ttf");
}

@font-face {
  font-family: 'Oxygen';
  font-weight: 700;
  src: url("/assets/fonts/oxygen/Oxygen-Bold.ttf");
}
